<!DOCTYPE html> 

{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        here is the about page...
        <br />
        <strong>This tutorial has been put together by Sahil!</strong>
        <br />
    </div>
    <div>
        <img src="{% static 'images/bob.jpg' %}" height="200px" width="200px" alt="Picture of Bobby" />
        <div>
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat."/>.
        </div>
        <!-- New line -->
    </div>
{% endblock %}

<!-- 
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page.'.
            <br />
            <strong>This tutorial has been put together by Sahil!</strong>
            <br />
        </div>
        <div>
            <a href="/rango/">Home</a>
            <br />
            <img src="{% static 'images/bob.jpg' %}" height="200px" width="200px" alt="Picture of Bobby" />
            <div>
                <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat."/>.
            </div>
        </div>
    </body>
</html> -->